body {
  background: #111111;
}

div.background {
  background-image: url("./images/photo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 900px;
  overflow: hidden;
  position: relative;
  height: auto;
}

div.layer {
  background-color: rgba(0, 150, 255, 0.8);
  color: #FFFFFF;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: auto;
}

div.layer h1 {
  text-align: center;
  font-size: 100px;
}

div.layer p {
  font-size: 50px;
}
